<div class="flex-table" role="rowgroup">
  <div class="flex-row" role="cell">
    <div class="image" style="background-image: url('images/albums/{{thumbnail}}');"></div>
  </div>
  <div class="flex-row" role="cell">
    <h3 class="font-weight-light">{{episode}}: {{title}}</h3>
    <p>{{description}}</p>
    <p>Featuring: {{featuredArtists}}</p>
  
  
    <audio id="player-{{episode}}" class="native-player" preload="none" controls style="max-width: 100%"
      data-length="{{runtime}}" src="{{url}}">
    </audio>

  </div>

</div>
