<div class="col-md-6 col-lg-4 mb-5 mb-lg-5">
  <div class="team-member">
    <img src="images/bios/{{thumbnail}}" alt="Headshot of {{name}}" class="img-fluid">
    <div class="text">
      <h2 class="mb-2 font-weight-light h4">{{name}}</h2>
      <span class="d-block mb-2 text-white-opacity-05">{{title}}</span>
      <p class="mb-4">{{description}}</p>
      <p>
        <a href="{{facebook}}" class="text-white p-2"><span class="icon-facebook"></span></a>
        <a href="{{twitter}}" class="text-white p-2"><span class="icon-twitter"></span></a>
        <a href="{{instagram}}" class="text-white p-2"><span class="icon-instagram"></span></a>
      </p>
    </div>
  </div>
</div>
