<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="{{description}}">
  <meta property="og:title" content="{{title}}" />
  <meta property="og:description" content="{{about}}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://www.spacestation23.com" />
  <meta property="og:image" content="https://www.spacestation23.com/images/logo.jpg" />

  <link rel="alternate" href="https://www.spacestation23.com/feed.xml" type="application/atom+xml"
    title="Space Station 23 Podcast" />
  <link rel="canonical" href="https://www.spacestation23.com" />
  <link rel="icon" href="/images/logo.jpg" type="image/jpg">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,700,900&display=swap"
    media="screen">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Goldman&display=swap" media="screen">
  <link rel="preload" href="fonts/icomoon/icomoon.ttf?10si43" as="font" crossorigin="anonymous" />
  <link rel="stylesheet" href="styles.css" media="screen">
</head>

<body>

  <div class="site-wrap">

    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>

    <nav id="navbar" class="navbar navbar-expand-lg navbar-dark sticky-top ">
      <div class="container nav-container">

        <h1><a class="navbar-brand" href="#">Space Station 23</a></h1>

        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-label="toggle mobile menu"
          data-target="#main_nav">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="main_nav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active"> <a class="nav-link" href="#hero">Home</a> </li>
            <li class="nav-item"><a class="nav-link" href="#latest-episodes">Latest Episodes</a></li>
            <li class="nav-item"><a class="nav-link" href="#subscribe">Subscribe</a></li>
            <li class="nav-item"><a class="nav-link" href="#archives">The Archives</a></li>
            <li class="nav-item"><a class="nav-link" href="#credits">Credits</a></li>
          </ul>
        </div>
      </div>
    </nav>


    <div id="hero" class="site-blocks-cover" style="background-image: url(images/spacestation23-hero.jpg);"
      data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row align-items-center justify-content-center text-center">

          <div class="col-md-8">

            <h2 class="text-white font-weight-light mb-2 display-4">Episode {{latestEpisode.episode}}:
              {{latestEpisode.title}}
            </h2>

            <div class="text-white mb-4"><span class="text-white-opacity-05"><small>By Boo Daley |
                  {{latestEpisode.airDate}} | {{latestEpisode.runtime}} </small></span>
            </div>
            <p><a href="#latest-episodes" id="btnListenNow" class="btn btn-primary btn-sm py-3 px-4 small">Listen
                Now</a></p>

          </div>


        </div>
      </div>
    </div>

    <!-- Latest Episodes -->
    <div id="latest-episodes" class="site-section bg-light">
      <div class="container">

        <div class="row mb-5">
          <div class="col-md-12 text-center">
            <h2 class="font-weight-bold text-black anchor">Latest Episodes</h2>
          </div>
        </div>

        {{#each latestEpisodes}}
        {{>latestEpisode.hbs}}
        {{/each}}

      </div>
    </div>

    <!-- Subscribe CTA -->
    <div id="subscribe" class="site-blocks-cover overlay inner-page-cover subscribe"
      style="background-image: url(images/hero_bg_3.jpg);">
      <div class="container">
        <div class="row align-items-center justify-content-center text-center">

          <div class="col-md-12">
            <h2>Subscribe</h2>
            <p class="mb-5">Never miss an episode. Subscribe to Space Station 23 in your favourite podcast app (More sources coming
              soon).</p>
            <div class="podcast-sources">
              {{#each podcastSources}}
              {{>podcastSource.hbs}}
              {{/each}}
            </div>

          </div>
        </div>
      </div>
    </div>

    <!-- Episodes Archives -->
    <div id="archives" class="site-section">
      <div class="container">

        <div class="row mb-5">
          <div class="col-md-12 text-center">
            <h2 class="font-weight-bold text-black">The Archives</h2>
            <p>Missed an episode? All our episodes are available to listen to from our archive, hosted by <a class="link"
                href="cjai.ca">Amherst
                Island Radio (CJAI)</a></p>
          </div>
        </div>
        <div class="table-container" role="table" aria-label="Episode Archive">
          {{#each archiveEpisodes}}
          {{>archiveEpisode.hbs}}
          {{/each}}
        </div>
      </div>
    </div>

    <!-- Behind the mic -->
    <div id="credits" class="site-section bg-light credits">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-12 text-center">
            <h2 class="font-weight-bold text-black">Credits and Acknowledgements</h2>
            <p>Space Station 23 would not be possible without these fine folk!</p>
          </div>
        </div>

        <div class="row">

          <!-- Boo Daley -->
          <div class="col-md-6 col-lg-4 mb-5 mb-lg-5">
            <div class="team-member">

              <img src="images/bios/boo-daley.jpg" alt="Boo Daley headshot" width="350px" height="350px" class="img-fluid">

              <div class="text">

                <h2 class="mb-2 font-weight-light h4">Boo Daley</h2>
                <span class="d-block mb-2 text-white-opacity-05">Creative Director and Voice extraordinaire</span>
                <p class="mb-4">Boo is not only the creator of SpaceStation23, he is also the voice behind many of the
                  characters
                  including Boo and Kale.</p>
                <p>
                  <a href="https://facebook.com/ss23boo" class="text-white p-2"><span class="icon-facebook"></span></a>
                  <a href="https://twitter.com/ss23boo" class="text-white p-2"><span class="icon-twitter"></span></a>
                  <a href="https://instagram.com/ss23boo" class="text-white p-2"><span class="icon-instagram"></span></a>
                </p>
              </div>
            </div>
          </div>

          <!-- Ed Finlan -->
          <div class="col-md-6 col-lg-4 mb-5 mb-lg-5">
            <div class="team-member">

              <img src="images/bios/ed-finlan.jpg" alt="Ed Finlan headshot" width="350px" height="350px" class="img-fluid">

              <div class="text">

                <h2 class="mb-2 font-weight-light h4">Ed Finlan</h2>
                <span class="d-block mb-2 text-white-opacity-05">The voice of Mayor Eddie on the show, hailing from
                  Thurlow Township near Belleville, Ontario.
                </span>
                <p class="mb-4"> Ed and Boo have been friends since they were 5 years of age. </p>
                <p>Ed is Thankful to be involved in an original High Quality Radio Program.
                </p>
                <p>
                  <a href="#" class="text-white p-2"><span class="icon-facebook"></span></a>
                  <a href="#" class="text-white p-2"><span class="icon-twitter"></span></a>
                  <a href="#" class="text-white p-2"><span class="icon-linkedin"></span></a>
                </p>
              </div>

            </div>
          </div>

          <!-- John Farley -->
          <div class="col-md-6 col-lg-4 mb-5 mb-lg-5">
            <div class="team-member">

              <img src="images/bios/john-farley.jpg" alt="John Farley headshot" width="350px" height="350px" class="img-fluid">

              <div class="text">

                <h2 class="mb-2 font-weight-light h4">John Farley</h2>
                <span class="d-block mb-2 text-white-opacity-05">The voice of Randy Lentstupide on the show</span>
                <p class="mb-4">John discovered his appreciation for music when he played in the Kindergarden Rhythm
                  Band. Today his best instrument is the radio.</p>

                <p>
                  <a href="#" class="text-white p-2"><span class="icon-facebook"></span></a>
                  <a href="#" class="text-white p-2"><span class="icon-twitter"></span></a>
                  <a href="#" class="text-white p-2"><span class="icon-linkedin"></span></a>
                </p>
              </div>

            </div>
          </div>

          <!-- Troy Forster -->
          <div class="col-md-6 col-lg-4 mb-5 mb-lg-5">
            <div class="team-member">

              <img src="images/bios/troy-forster.jpg" alt="Troy Forster headshot" width="350px" height="350px" class="img-fluid">

              <div class="text">

                <h2 class="mb-2 font-weight-light h4">Troy Forster</h2>
                <span class="d-block mb-2 text-white-opacity-05">Technical Director</span>
                <p class="mb-4">Troy takes care of whatsits, thingamajigs and stuff on the interwebz.</p>
                <p>
                  <a href="https://www.facebook.com/troy.forster.374" class="text-white p-2"><span
                      class="icon-facebook"></span></a>
                  <a href="https://twitter.com/tforster" class="text-white p-2"><span class="icon-twitter"></span></a>
                  <a href="https://www.linkedin.com/in/tforster/" class="text-white p-2"><span
                      class="icon-linkedin"></span></a>
                  <a href="https://instagram.com/tforster" class="text-white p-2"><span class="icon-instagram"></span></a>
                </p>
              </div>
            </div>
          </div>


          <!-- Eric Tremblay -->
          <div class="col-md-6 col-lg-4 mb-5 mb-lg-5">
            <div class="team-member">

              <img src="images/bios/cjai.jpg" alt="Eric Tremblay headshot" width="350px" height="350px" class="img-fluid">

              <div class="text">

                <h2 class="mb-2 font-weight-light h4">Eric Tremblay</h2>
                <span class="d-block mb-2 text-white-opacity-05">Station Manager, Amherst Island Radio</span>
                <p class="mb-4">CJAI-FM, known on air as Amherst Island Radio, is kind enough to provide weekly
                  airtime
                  for the
                  transmission of SpaceStation23 into the ether.</p>
                <p>Please consider <a href="https://www.cjai.ca/donate/">donating</a>.
                </p>
                <p>
                  <a href="https://www.facebook.com/amherstislandradio" class="text-white p-2"><span class="icon-facebook"></span></a>
                  <a href="https://twitter.com/cjai921fm" class="text-white p-2"><span class="icon-twitter"></span></a>
                  <a href="https://twitter.com/cjai921fm" class="text-white p-2"><span class="icon-twitter"></span></a>
                  <a href="#" class="text-white p-2"><span class="icon-linkedin"></span></a>
                </p>
              </div>
            </div>
          </div>

          <!-- Kids Mental Health -->
          <div class="col-md-6 col-lg-4 mb-5 mb-lg-5">
            <div class="team-member">

              <img src="images/bios/kids-mental-health.png" alt="Person 6 headshot" width="350px" height="350px" class="img-fluid">

              <div class="text">

                <h2 class="mb-2 font-weight-light h4">The Kids Mental Health Optimist Club of Canada</h2>
                <span class="d-block mb-2 text-white-opacity-05">The club supports programs that work to bridge the gap to care for
                  families supporting young children
                  with mental health</span>
                <p>
                  <a href="https://www.miunderstanding.ca/the-kids-mental-health-optimist-club-of-canada/" class="text-white p-2"><span
                      class="icon-home"></span></a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>




    <!-- Footer -->
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="mb-5">
              <h2 class="footer-heading mb-4">About Space Station 23</h2>
              <p>{{about}}</p>
              <p style="text-align: right;">--Boo</p>
            </div>

            <div class="mb-5">
              <h2 class="footer-heading mb-4 latest-episodes">Latest Episodes</h2>
              <div class="block-25">
                <ul class="list-unstyled">
                  {{#each latestEpisodes}}
                  {{>latestEpisodeSmall.hbs}}
                  {{/each}} </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-5 mb-lg-0">
            <div class="row mb-5">
              <div class="col-md-12">
                <h2 class="footer-heading mb-4">Quick Menu</h2>
              </div>
              <div class="col-md-6 col-lg-6">

                <ul class="list-unstyled">
                  <li><a class="link" href="#hero">Home</a></li>
                  <li><a class="link" href="#latest-episodes">Latest Episodes</a></li>
                  <li><a class="link" href="#subscribe">Subscribe</a></li>
                </ul>
              </div>
              <div class="col-md-6 col-lg-6">
                <ul class="list-unstyled">
                  <li><a class="link" href="#archives">The Archives</a></li>
                  <li><a class="link" href="#credits">Credits</a></li>
                </ul>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <h2 class="footer-heading mb-4">Follow Us</h2>

                <div>
                  <a href="https://www.facebook.com/ss23boo" class="pl-0 pr-3" title="SpaceStation23 on Facebook"><span
                      class="icon-facebook"></span></a>
                  <a href="https://twitter.com/ss23boo" class="pl-3 pr-3" title="SpaceStation23 on Twitter"><span
                      class="icon-twitter"></span></a>
                  <a href="https://instagram.com/ss23boo" class="pl-3 pr-3" title="SpaceStation23 on Instagram"><span
                      class="icon-instagram"></span></a>
                </div>
              </div>
            </div>

          </div>

          <div class="col-lg-4 mb-5 mb-lg-0 ">

            <div class="mb-5">
              <h2 class="footer-heading mb-2">Amherst Island Radio</h2>
              <p>Space Station 23 can be found on <a class="link"
                  href="https://tunein.com/radio/Amherst-Island-Radio-921-s91632/">CJAI 92.1 FM</a>
                on Friday nights.
                Amherst Island Radio recently partnered with Kingston Online Services and the Fleming Family to build a
                new 130′ free-standing telecommunications tower on the corner of the Stella 40 Foot and the Third
                Concession on Amherst Island. It will bring much better Internet services to the island, especially the
                South Shore! Please consider donating.</p>
            </div>

            <div class="mb-5">
              <h2 class="footer-heading mb-2">Newsletter</h2>
              <p>We hate spam more than you and promise that our occasional newsletters will be short, sweet and full of
                musical
                goodness.</p>

              <form action="#" method="post">
                <div class="input-group mb-3">
                  <input type="text" class="form-control border-secondary text-white bg-transparent" placeholder="Enter Email"
                    aria-label="Enter Email" aria-describedby="button-addon2">
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="button" id="button-addon2">Send</button>
                  </div>
                </div>
              </form>

            </div>

          </div>

        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <p>
              Copyright &copy; 2021 All rights reserved SpaceStation23
            </p>
          </div>

        </div>
      </div>
    </footer>
  </div>
  {{>audioPlayerTemplate.hbs}}
  <script src="main.js"></script>
  <script>(function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-MSXNM9W');</script>
</body>

</html>
